<nb-layout center>
  <nb-layout-header fixed>
    <h5 [routerLink]="['/']" class="mrp-2">Cursos</h5>

    <a [routerLink]="['/courses']" nbButton class="mr-2"><nb-icon icon="list-outline"></nb-icon>Lista</a>
    <a [routerLink]="['/courses-new']" nbButton><nb-icon icon="plus-outline"></nb-icon>Nuevo</a>

    <nb-toggle style="margin-left: auto;" (click)="changeTheme()" [ngModel]="toggleNgModel">
      <nb-icon *ngIf="theme === 'dark'" icon="moon-outline"></nb-icon>
      <nb-icon *ngIf="theme === 'default'" icon="sun-outline"></nb-icon>
    </nb-toggle>
  </nb-layout-header>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
