<nb-layout center>
  <nb-layout-header fixed>
    <h5>courses</h5>
    <nb-actions>
      <nb-action icon="plus-outline"></nb-action>
    </nb-actions>
  </nb-layout-header>

  <nb-layout-column class="colored-column-basic center">
    <nb-card>
      <nb-card-header>Nebula</nb-card-header>
      <nb-card-body>
        A nebula is an interstellar cloud of dust, hydrogen, helium and other
        ionized gases. Originally, nebula was a name for any diffuse
        astronomical object, including galaxies beyond the Milky Way.
      </nb-card-body>
      <nb-card-footer>
        <nb-actions>
          <nb-action icon="edit-outline"></nb-action>
          <nb-action icon="close-outline"></nb-action>
        </nb-actions>
      </nb-card-footer>
    </nb-card>
  </nb-layout-column>
</nb-layout>
